<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="jsonDirPath" value="./CardsInfo/"/>
    <add key="filename" value="cards.json"/>
    <add key="cardImgFormat" value="./Cards/card (*).png"/>
  </appSettings>
</configuration>